{% extends "layout.html" %}
{% block content %}
<h1>Overview of {{ project.name }} </h1>

<div class="content-section col-md-12">
    <h1>Collections in Project</h1>
{% for c in collections_data %}
<div class="content-section col-md-12">
<p>Name of Collection<a href={{ url_for('view_collection', collection=c.collection_id, page_start=1) }} >{{c.collection_name}}</a> (click to view)</p>
<p>Entries: {{ c.entries }}</p>
<p>Filters: {{ c.filters }} </p>
</div>
</div>
{% endfor %}
{% endblock content %}